.details-container {
  padding: 30px;
  background: #f3f3f3;
}

.details-grid {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  gap: 30px;
}

/* LEFT */
.gallery {
  display: flex;
  gap: 10px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnails img {
  width: 60px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.main-image img {
  width: 350px;
  transition: transform 0.3s;
}

/* 🔥 ZOOM EFFECT */
.main-image img:hover {
  transform: scale(1.2);
}

/* MIDDLE */
.info {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.desc {
  color: #555;
  margin: 10px 0;
}

.price {
  color: green;
}

/* RIGHT */
.buy-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.buy-box input {
  width: 60px;
  margin: 10px 0;
}

.cart-btn {
  width: 100%;
  background: orange;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.buy-btn {
  width: 100%;
  background: #ff9900;
  padding: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.stock {
  margin: 10px 0;
}